.cotation-darwin {
    margin-left: 60px;
    text-align: justify;
}

.did-you-know-container {
    background: url(../imagens/fundo.png);
    border: 3px solid limegreen;
    padding: 10px;
}

img {
    width: 300px;
    border: 8px solid limegreen;
    margin-left: auto;
    margin-right: auto;
}

.center-image {
    text-align: center;
}